body {
  in-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(180deg 81.73% 87.88% / 92%);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
