.section-menu {
  font-size: medium;
  border: none;
  border-radius: 12px;
  padding-inline: 16px;
  padding-block: 6px;
  background-color: rgb(236, 159, 15);
  color: white;
}

.section-menu::first-letter {
  text-transform: uppercase;
}

.section-menu:hover {
  background-color: #d8910e;
  transition: 0.5s ease-out;
}
