.containterImage {
  position: relative;
  width: 150px;
  height: 150px;
  background-color: #f0f0f0;
  border-radius: 50%;
  object-fit: cover;
}

.containterImage img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  box-shadow: 9px -2px 0px 0px blueviolet;
}

.decorationImage {
  position: absolute;
  left: 8px;
  top: 8px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-image: url('../../../public/assets/tree.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-color: blueviolet;
}

.details {
  text-align: center;
}

.details .name {
  font-size: 28px;
  font-weight: 700;
  line-height: calc(14px * 1.5);
}

.details .job {
  font-size: 20px;
  font-weight: 400;
  line-height: calc(14px * 1.5);
  background: linear-gradient(
    to left,
    red,
    orange,
    yellow,
    green,
    blue,
    indigo,
    violet
  );
  background-clip: text;
  color: transparent;
}

.details .description {
  font-size: 14px;
  line-height: calc(14px * 1.5);
}

.container-icons {
  display: flex;
  justify-content: space-between;
  width: 80px;
  margin-top: 4px;
}

.backward,
.foward {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  cursor: pointer;
  background-color: aquamarine;
  background-position: center;
}

.backward {
  background-image: url('../../../public/assets/backward.svg');
  background-repeat: no-repeat;
}

.foward {
  background-image: url('../../../public/assets/foward.svg');
  background-repeat: no-repeat;
}

.suprise {
  font-size: 14px;
  padding-block: 8px;
  padding-inline: 12px;
  margin-top: 2%;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
