.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 98%;
  max-width: 843px;
  height: 482px;
  justify-content: center;
  margin-top: 20px;
  border-radius: 4px;
  background-color: ghostwhite;
}
